<div class="page">
    <app-menu *ngIf="!compare" [routerI01]="'/educacion'" [routerI02]="'/edu_i02'" [routerI03]="'/edu_i03'"
        [routerI04]="'/edu_i04'" [routerI05]="'/edu_i05'" [routerI06]="'/edu_i06'" [routerF01]="'/edu_f01'"
        [routerF02]="'/edu_f02'" [routerF03]="'/edu_f03'" [routerC01]="'/edu_c01'" [routerC02]="'/edu_c02'"
        [routerC021]="'/edu_c021'" [routerPB03]="'/edu_pb03'" [item1]="'Ciencias Agropecuarias'"
        [item2]="'Ciencias Economicas y Administrativas'" [item3]="'Ciencias Basicas'"
        [item4]="'Derecho y Ciencias Sociales'" [item5]="'Estudios a Distancia'" [comp1]="'app-fac-agro-i02'"
        [comp2]="'app-fac-eco-i02'" [comp3]="'app-fac-cien-i02'" [comp4]="'app-fac-der-i02'" [comp5]="'app-fac-dis-i02'"
        [fac_actual]="'app-fac-edu-f01'">
    </app-menu>
    <div class="col-md-12 mt-4">
        <div class="container">
            <div class="row"><h1>Facultad de Educación</h1></div>
            <div class="row"> <h3>F01. Jóvenes Investigadores Uptc</h3> </div>
            <div class="row justify-content-center m-4"> <img src="assets/error.png" alt="..."> </div>
            <div class="row"><h3>Sin registros para esta facultad</h3></div>
        </div>
    </div>
</div>

