<div class="page">
        <app-menu 
        [routerI01]="'/distancia'"
        [routerI02]="'/dis_i02'"
        [routerI03]="'/dis_i03'"
        [routerI04]="'/dis_i04'"
        [routerI05]="'/dis_i05'"
        [routerI06]="'/dis_i06'"
        [routerF01]="'/dis_f01'"
        [routerF02]="'/dis_f02'"
        [routerF03]="'/dis_f03'"
        [routerC01]="'/dis_c01'"
        [routerC02]="'/dis_c02'"
        [routerC021]="'/dis_c021'"
        [routerPB03]="'/dis_pb03'">
         </app-menu>
        <div class="container">
            <div class="row"><h1>Facultad de Estudios a Distancia</h1></div>
            <div class="row"> <h3>C02.1. Investigadores docentes según nivel de estudios y tipo de vinculación</h3> </div>
            <div class="row justify-content-center m-4"> <img src="assets/error.png" alt="..."> </div>
            <div class="row"><h3>Sin registros para esta facultad</h3></div>            
    </div>
</div>
