<div class="page">
    <app-menu *ngIf="!compare"  [routerI01]="'/economicas'" [routerI02]="'/eco_i02'" [routerI03]="'/eco_i03'"
        [routerI04]="'/eco_i04'" [routerI05]="'/eco_i05'" [routerI06]="'/eco_i06'" [routerF01]="'/eco_f01'"
        [routerF02]="'/eco_f02'" [routerF03]="'/eco_f03'" [routerC01]="'/eco_c01'" [routerC02]="'/eco_c02'"
        [item1]="'Ciencias Agropecuarias'" [item2]="'Ciencias Básicas'"
        [item3]="'Ciencias de la educación'" [item4]="'Derecho y Ciencias Sociales'" [item5]="'Estudios a Distancia'"
        [comp1]="'app-agropecuarias'" [comp2]="'app-ciencias'" [comp3]="'app-educacion'" [comp4]="'app-derecho'" [comp5]="'app-distancia'"
        [fac_actual]="'app-fac-eco-c01'">
    </app-menu>
    <div class="col-md-12 mt-12">
        <div class="container">
            <h1>Facultad de ciencias Economicas y Administrativas</h1>
            <div class="row"> <h3>C01. Grupos de investigación categorizados por Colciencias</h3> </div>
            <div class="row">
                <div class="container" *ngIf="!preload">
                    <div *ngIf="!compare" class="row" style="width:100%;">
                        <app-ghap-c01 
                        a12014={{a12014}} a12015={{a12015}} a12016={{a12016}}  a12017={{a12017}} a12018={{a12018}}
                        a2014={{a2014}} a2015={{a2015}} a2016={{a2016}}  a2017={{a2017}} a2018={{a2018}}
                        b2014={{b2014}} b2015={{b2015}} b2016={{b2016}}  b2017={{b2017}} b2018={{b2018}}
                        c2014={{c2014}} c2015={{c2015}} c2016={{c2016}}  c2017={{c2017}} c2018={{c2018}}
                        d2014={{d2014}} d2015={{d2015}} d2016={{d2016}}  d2017={{d2017}} d2018={{d2018}}
                        r2014={{r2014}} r2015={{r2015}} r2016={{r2016}}  r2017={{r2017}} r2018={{r2018}}
                        > 
                    </app-ghap-c01>
                    </div>
            </div>
        </div>
        <div id="chartdiv" style="width: 100%; height: 100%;"> </div>
    </div>
    </div>
</div>

