<div class="container">
    <div class="row">

        <div class="col-6">
            <!--Agropecuaria-->
            <div class="container" *ngIf="app_agropecuarias1"> <app-agropecuarias [compare]="true"></app-agropecuarias> </div>
            <div class="container" *ngIf="app_fac_agro_i02_1"> <app-fac-agro-i02 [compare]="true"></app-fac-agro-i02> </div>
            <div class="container" *ngIf="app_fac_agro_i03_1"> <app-fac-agro-i03 [compare]="true"></app-fac-agro-i03> </div>
            <div class="container" *ngIf="app_fac_agro_i04_1"> <app-fac-agro-i04 [compare]="true"></app-fac-agro-i04> </div>
            <!--Educacion-->
            <div class="container" *ngIf="app_educacion1"> <app-educacion [compare]="true"></app-educacion> </div>
            <div class="container" *ngIf="app_fac_edu_i02_1"> <app-fac-edu-i02 [compare]="true"></app-fac-edu-i02> </div>
            <div class="container" *ngIf="app_fac_edu_i03_1"> <app-fac-edu-i03 [compare]="true"></app-fac-edu-i03> </div>
            <!--Ciencias-->
            <div class="container" *ngIf="app_ciencias1"> <app-ciencias [compare]="true"></app-ciencias> </div>
            <div class="container" *ngIf="app_fac_cien_i02_1"> <app-fac-cien-i02 [compare]="true"></app-fac-cien-i02> </div>
            <div class="container" *ngIf="app_fac_cien_i03_1"> <app-fac-cien-i03 [compare]="true"></app-fac-cien-i03> </div>
            <div class="container" *ngIf="app_fac_cien_i04_1"> <app-fac-cien-i04 [compare]="true"></app-fac-cien-i04> </div>
            <!--Economicas-->
            <div class="container" *ngIf="app_economicas1"> <app-economicas [compare]="true"></app-economicas> </div>
            <div class="container" *ngIf="app_fac_eco_i02_1"> <app-fac-eco-i02 [compare]="true"></app-fac-eco-i02> </div>
            <div class="container" *ngIf="app_fac_eco_i03_1"> <app-fac-eco-i03 [compare]="true"></app-fac-eco-i03> </div>
            <div class="container" *ngIf="app_fac_eco_i04_1"> <app-fac-eco-i04 [compare]="true"></app-fac-eco-i04> </div>
            <!--Derecho-->
            <div class="container" *ngIf="app_derecho1"> <app-derecho [compare]="true"></app-derecho> </div>
            <div class="container" *ngIf="app_fac_der_i02_1"> <app-fac-der-i02 [compare]="true"></app-fac-der-i02> </div>
            
            <!--Distancia-->
            <div class="container" *ngIf="app_distancia1"> <app-distancia [compare]="true"></app-distancia> </div>
            <div class="container" *ngIf="app_fac_dis_i02_1"> <app-fac-dis-i02 [compare]="true"></app-fac-dis-i02> </div>
            

        </div>

        <div class="col-6">
            <!--Agropecuaria-->
            <div class="container" *ngIf="app_agropecuarias2"> <app-agropecuarias [compare]="true"></app-agropecuarias> </div>
            <div class="container" *ngIf="app_fac_agro_i02_2"> <app-fac-agro-i02 [compare]="true"></app-fac-agro-i02> </div>
            <div class="container" *ngIf="app_fac_agro_i03_2"> <app-fac-agro-i03 [compare]="true"></app-fac-agro-i03> </div>
            <div class="container" *ngIf="app_fac_agro_i04_2"> <app-fac-agro-i04 [compare]="true"></app-fac-agro-i04> </div>
            <!--Educacion-->
            <div class="container" *ngIf="app_educacion2"> <app-educacion [compare]="true"></app-educacion> </div>
            <div class="container" *ngIf="app_fac_edu_i02_2"> <app-fac-edu-i02 [compare]="true"></app-fac-edu-i02> </div>
            <div class="container" *ngIf="app_fac_edu_i03_2"> <app-fac-edu-i03 [compare]="true"></app-fac-edu-i03> </div>
            <!--Ciencias-->
            <div class="container" *ngIf="app_ciencias2"> <app-ciencias [compare]="true"></app-ciencias> </div>
            <div class="container" *ngIf="app_fac_cien_i02_2"> <app-fac-cien-i02 [compare]="true"></app-fac-cien-i02> </div>
            <div class="container" *ngIf="app_fac_cien_i03_2"> <app-fac-cien-i03 [compare]="true"></app-fac-cien-i03> </div>
            <div class="container" *ngIf="app_fac_cien_i04_2"> <app-fac-cien-i04 [compare]="true"></app-fac-cien-i04> </div>
            <!--Economicas-->
            <div class="container" *ngIf="app_economicas2"> <app-economicas [compare]="true"></app-economicas> </div>
            <div class="container" *ngIf="app_fac_eco_i02_2"> <app-fac-eco-i02 [compare]="true"></app-fac-eco-i02> </div>
            <div class="container" *ngIf="app_fac_eco_i03_2"> <app-fac-eco-i03 [compare]="true"></app-fac-eco-i03> </div>
            <div class="container" *ngIf="app_fac_eco_i04_2"> <app-fac-eco-i04 [compare]="true"></app-fac-eco-i04> </div>
             <!--Derecho-->
             <div class="container" *ngIf="app_derecho2"> <app-derecho [compare]="true"></app-derecho> </div>
             <div class="container" *ngIf="app_fac_der_i02_2"> <app-fac-der-i02 [compare]="true"></app-fac-der-i02> </div>
             
             <!--Distancia-->
            <div class="container" *ngIf="app_distancia2"> <app-distancia [compare]="true"></app-distancia> </div>
            <div class="container" *ngIf="app_fac_dis_i02_2"> <app-fac-dis-i02 [compare]="true"></app-fac-dis-i02> </div>
            

        </div>

    </div>
    
</div>
