<div class="page">
    <app-menu *ngIf="!compare" [routerI01]="'/educacion'" [routerI02]="'/edu_i02'" [routerI03]="'/edu_i03'"
        [routerI04]="'/edu_i04'" [routerI05]="'/edu_i05'" [routerI06]="'/edu_i06'" [routerF01]="'/agro_f01'"
        [routerF02]="'/edu_f02'" [routerF03]="'/edu_f03'" [routerC01]="'/edu_c01'" [routerC02]="'/edu_c02'"
        [routerC021]="'/edu_c021'" [routerPB03]="'/edu_pb03'" [item1]="'Ciencias Agropecuarias'"
        [item2]="'Ciencias Economicas y Administrativas'" [item3]="'Ciencias Basicas'"
        [item4]="'Derecho y Ciencias Sociales'" [item5]="'Estudios a Distancia'" [comp1]="'app-fac-agro-i03'"
        [comp2]="'app-fac-eco-i03'" [comp3]="'app-fac-cien-i03'" [comp4]="'app-fac-der-i03'" [comp5]="'app-fac-dis-i03'"
        [fac_actual]="'app-fac-edu-i03'">
    </app-menu>
    <div class="col-md-12 mt-4">
        <div class="container">
            <div class="row">
                <h1>Facultad de la Educación</h1>
            </div>
            <div class="row">
                <h3>I03. Inversión en I+D por tipo de entidad</h3>
            </div>

            <div class="container" *ngIf="!preload">
                <div class="row" *ngIf="compare">
                    <app-ghap4 style="width: 500px;" entidad2014={{entidad2014}} entidad2015={{entidad2015}} entidad2016={{entidad2016}}
                        entidad2017={{entidad2017}} entidad2018={{entidad2018}}
                        cenInvestigacion2014={{cenInvestigacion2014}} cenInvestigacion2015={{cenInvestigacion2015}}
                        cenInvestigacion2016={{cenInvestigacion2016}} cenInvestigacion2017={{cenInvestigacion2017}}
                        cenInvestigacion2018={{cenInvestigacion2018}} colciencias2014={{colciencias2014}}
                        colciencias2015={{colciencias2015}} colciencias2016={{colciencias2016}}
                        colciencias2017={{colciencias2017}} colciencias2018={{colciencias2018}}
                        hospitales2014={{hospitales2014}} hospitales2015={{hospitales2015}}
                        hospitales2016={{hospitales2016}} hospitales2017={{hospitales2017}}
                        hospitales2018={{hospitales2018}} privadas2014={{privadas2014}} privadas2015={{privadas2015}}
                        privadas2016={{privadas2016}} privadas2017={{privadas2017}} privadas2018={{privadas2018}}
                        ong2014={{ong2014}} ong2015={{ong2015}} ong2016={{ong2016}} ong2017={{ong2017}}
                        ong2018={{ong2018}}>
                    </app-ghap4>
                </div>
                <div class="row" *ngIf="!compare">
                    <app-ghap4 style="width: 1000px;" entidad2014={{entidad2014}} entidad2015={{entidad2015}} entidad2016={{entidad2016}}
                        entidad2017={{entidad2017}} entidad2018={{entidad2018}}
                        cenInvestigacion2014={{cenInvestigacion2014}} cenInvestigacion2015={{cenInvestigacion2015}}
                        cenInvestigacion2016={{cenInvestigacion2016}} cenInvestigacion2017={{cenInvestigacion2017}}
                        cenInvestigacion2018={{cenInvestigacion2018}} colciencias2014={{colciencias2014}}
                        colciencias2015={{colciencias2015}} colciencias2016={{colciencias2016}}
                        colciencias2017={{colciencias2017}} colciencias2018={{colciencias2018}}
                        hospitales2014={{hospitales2014}} hospitales2015={{hospitales2015}}
                        hospitales2016={{hospitales2016}} hospitales2017={{hospitales2017}}
                        hospitales2018={{hospitales2018}} privadas2014={{privadas2014}} privadas2015={{privadas2015}}
                        privadas2016={{privadas2016}} privadas2017={{privadas2017}} privadas2018={{privadas2018}}
                        ong2014={{ong2014}} ong2015={{ong2015}} ong2016={{ong2016}} ong2017={{ong2017}}
                        ong2018={{ong2018}}>
                    </app-ghap4>
                </div>
                <div class="row" style="width: 70%; height: 500px;">
                    <div class="card">
                        <div class="col mt-4" id="chart">
                            <table class="table table-striped table-bordered text-center">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Año</th>
                                        <th>Centro de investigación y desarrollo tecnológico</th>
                                        <th>Colciencias</th>
                                        <th>Entidades del Gobierno Regional</th>
                                        <th>Instituciones privadas sin fines de lucro</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2014</td>
                                        <td>{{cenInvestigacion2014}}</td>
                                        <td>{{colciencias2014}}</td>
                                        <td>{{entidad2014}}</td>
                                        <td>{{privadas2014}}</td>
                                        <td>{{cenInvestigacion2014+colciencias2014+entidad2014+privadas2014}}</td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>{{cenInvestigacion2015}}</td>
                                        <td>{{colciencias2015}}</td>
                                        <td>{{entidad2015}}</td>
                                        <td>{{privadas2015}}</td>
                                        <td>{{cenInvestigacion2015+colciencias2015+entidad2015+privadas2015}}</td>
                                    </tr>
                                    <tr>
                                        <td>2016</td>
                                        <td>{{cenInvestigacion2016}}</td>
                                        <td>{{colciencias2016}}</td>
                                        <td>{{entidad2016}}</td>
                                        <td>{{privadas2016}}</td>
                                        <td>{{cenInvestigacion2016+colciencias2016+entidad2016+privadas2016}}</td>
                                    </tr>
                                    <tr>
                                        <td>2017</td>
                                        <td>{{cenInvestigacion2017}}</td>
                                        <td>{{colciencias2017}}</td>
                                        <td>{{entidad2017}}</td>
                                        <td>{{privadas2017}}</td>
                                        <td>{{cenInvestigacion2017+colciencias2017+entidad2017+privadas2017}}</td>
                                    </tr>
                                    <tr>
                                        <td>2018</td>
                                        <td>{{cenInvestigacion2018}}</td>
                                        <td>{{colciencias2018}}</td>
                                        <td>{{entidad2018}}</td>
                                        <td>{{privadas2018}}</td>
                                        <td>{{cenInvestigacion2018+colciencias2018+entidad2018+privadas2018}}</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>{{cenInvestigacion2014+cenInvestigacion2015+cenInvestigacion2016+cenInvestigacion2017+cenInvestigacion2018}}
                                        </td>
                                        <td>{{colciencias2014+colciencias2015+colciencias2016+colciencias2017+colciencias2018}}
                                        </td>
                                        <td>{{entidad2014+entidad2015+entidad2016+entidad2017+entidad2018}}</td>
                                        <td>{{privadas2014+privadas2015+privadas2016+privadas2017+privadas2018}}</td>
                                        <td>{{cenInvestigacion2014+cenInvestigacion2015+cenInvestigacion2016+cenInvestigacion2017+cenInvestigacion2018+colciencias2014+colciencias2015+colciencias2016+colciencias2017+colciencias2018+entidad2014+entidad2015+entidad2016+entidad2017+entidad2018+privadas2014+privadas2015+privadas2016+privadas2017+privadas2018}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>