<div class="row justify-content-center">
    <div class="col-sm-4">
        <div class="card m-2" style="width: 18rem; height: 14rem;" routerLink="/agropecuarias">
            <img class="card-img-top" src="assets/agropecuarias.png" alt="Card image cap">
            <div class="card-body text-center h5">
              <p class="card-text">Ciencias Agropecuarias</p>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card m-2" style="width: 18rem; height: 14rem;" routerLink="/educacion">
            <img class="card-img-top" src="assets/educacion.png" alt="Card image cap">
            <div class="card-body text-center h5">
              <p class="card-text">
                  Ciencias de la Educación
              </p>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card m-2" style="width: 18rem; height: 14rem;" routerLink="/economicas">
            <img class="card-img-top" src="assets/economicas.png" alt="Card image cap">
            <div class="card-body text-center h5">
              <p class="card-text">
                Ciencias Economicas y Administrativas
              </p>
            </div>
          </div>
    </div>
    
</div>

<div class="row justify-content-center">
  <div class="col-sm-4">
    <div class="card m-2" style="width: 18rem; height: 14rem;" routerLink="/ciencias">
        <img class="card-img-top" src="assets/ciencias.png" alt="Card image cap">
        <div class="card-body text-center h5">
          <p class="card-text">
             Ciencias
          </p>
        </div>
      </div>
</div>
  <div class="col-sm-4">
      <div class="card m-2" style="width: 18rem; height: 14rem;" routerLink="/derecho">
          <img class="card-img-top" src="assets/derecho.png" alt="Card image cap">
          <div class="card-body text-center h5">
            <p class="card-text">Derecho y Ciencias Sociales</p>
          </div>
        </div>
  </div>
  <div class="col-sm-4">
      <div class="card m-2" style="width: 18rem; height: 14rem;" routerLink="/distancia">
          <img class="card-img-top" src="assets/distancia.png" alt="Card image cap">
          <div class="card-body text-center h5">
            <p class="card-text">
                Estudios a Distancia
            </p>
          </div>
        </div>
  </div>
  
</div>
