<div class="page">
    <div class="side">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style="background-color: #f8f9fa;color: #000;">
                    Inversion
            </button>
            <div class="dropdown-menu">  
                <a class="dropdown-item" href="#">I01 Número de proyectos de investigación según financiación</a>
                <a class="dropdown-item" href="#">I02 Inversión en I+D a nivel de proyectos</a>
                <a class="dropdown-item" href="#">I03 Inversión en I+D por tipo de entidad</a>
                <a class="dropdown-item" href="#">I04 Inversión estímulo a productividad</a>
                <a class="dropdown-item" href="#">I05 Ingresos recursos propios posgrados</a>
                <a class="dropdown-item" href="#">I06 Ingresos por extensión y proyección social</a>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                style="background-color: #f8f9fa;color: #000;">
                Formacion
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">F01 Jóvenes Investigadores Uptc</a>
                <a class="dropdown-item" href="#">F02 Jóvenes Investigadores Colciencias</a>
                <a class="dropdown-item" href="#">F03 Semilleros de investigación</a>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                style="background-color: #f8f9fa;color: #000;">
                Capacidades
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">C01 Grupos de investigación categorizados por Colciencias</a>
                <a class="dropdown-item" href="#">C02 Investigadores reconocidos</a>
                <a class="dropdown-item" href="#">C02.1 Investigadores docentes según nivel de estudios y tipo de vinculación</a>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                style="background-color: #f8f9fa;color: #000;">
                Produccion Bibliográfica
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">PB03 Número de libros sello editorial Uptc</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-4">
        <h1>Seccional Duitama</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col" id="barChart" style="width: 700px; height: 500px">
            </div>
            <div class="col" id="chart" >
                <table class="table table-striped table-bordered" >
                    <thead>
                        <tr>
                            <th>Año</th>
                            <th>Capital Semilla</th>
                            <th>Contrapartida</th>
                            <th>Sin financiacion</th>
                            <th>Total Proyectos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2014</td>
                            <td>1</td>
                            <td>0</td>
                            <td>2</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>2015</td>
                            <td>0</td>
                            <td>0</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>2016</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>2017</td>
                            <td>7</td>
                            <td>1</td>
                            <td>2</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>2018</td>
                            <td>5</td>
                            <td>1</td>
                            <td>4</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>13</td>
                            <td>2</td>
                            <td>11</td>
                            <td>26</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
