<div class="row justify-content-center">
    <div class="col-sm-4">
        <div class="card m-2" style="width: 18rem; height: 14rem;" routerLink="/chiquinquira">
            <img class="card-img-top" src="assets/chiquinquira.png" alt="Card image cap">
            <div class="card-body text-center h5">
              <p class="card-text">Chiquinquira</p>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card m-2" style="width: 18rem; height: 14rem;" routerLink="/duitama">
            <img class="card-img-top" src="assets/duitama.png" alt="Card image cap">
            <div class="card-body text-center h5">
              <p class="card-text">
                  Duitama
              </p>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card m-2" style="width: 18rem; height: 14rem;" routerLink="/sogamoso">
            <img class="card-img-top" src="assets/sogamoso.png" alt="Card image cap">
            <div class="card-body text-center h5">
              <p class="card-text">
                 Sogamoso
              </p>
            </div>
          </div>
    </div>
    
</div>


