<!--Este componente es el menu que va en cada seccion de cada facultad-->
<div class="side">
    <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle mr-1" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                style="background-color: #f8f9fa;color: #000;">
                Inversion
        </button>
        <div class="dropdown-menu">  
            <a class="dropdown-item" routerLink="{{routerI01}}">I01 Número de proyectos de investigación según financiación</a>
            <a class="dropdown-item" routerLink={{routerI02}}>I02 Inversión en I+D a nivel de proyectos</a>
            <a class="dropdown-item" routerLink="{{routerI03}}">I03 Inversión en I+D por tipo de entidad</a>
            <a class="dropdown-item" routerLink="{{routerI04}}">I04 Inversión estímulo a productividad</a>
            <a class="dropdown-item" routerLink="{{routerI05}}">I05 Ingresos recursos propios posgrados</a>
            <a class="dropdown-item" routerLink="{{routerI06}}">I06 Ingresos por extensión y proyección social</a>
        </div>
    </div>
    <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle mr-1" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="background-color: #f8f9fa;color: #000;">
            Formacion
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="{{routerF01}}">F01 Jóvenes Investigadores Uptc</a>
            <a class="dropdown-item" routerLink="{{routerF02}}">F02 Jóvenes Investigadores Colciencias</a>
            <a class="dropdown-item" routerLink="{{routerF03}}">F03 Semilleros de investigación</a>
        </div>
    </div>
    <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle mr-1" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="background-color: #f8f9fa;color: #000;">
            Capacidades
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" routerLink = "{{routerC01}}">C01 Grupos de investigación categorizados por Colciencias</a>
            <a class="dropdown-item" routerLink = "{{routerC02}}">C02 Investigadores reconocidos</a>
            <a class="dropdown-item" routerLink = "{{routerC021}}">C02.1 Investigadores docentes según nivel de estudios y tipo de vinculación</a>
        </div>
    </div>
    <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle mr-5" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="background-color: #f8f9fa;color: #000;">
            Produccion Bibliográfica
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="{{routerPB03}}">PB03 Número de libros sello editorial Uptc</a>
        </div>
    </div>
    <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle ml-5" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="background-color: #f8f9fa;color: #000;">
            Comparar
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/compare/{{fac_actual}}/{{comp1}}">{{item1}}</a>
            <a class="dropdown-item" routerLink="/compare/{{fac_actual}}/{{comp2}}">{{item2}}</a>
            <a class="dropdown-item" routerLink="/compare/{{fac_actual}}/{{comp3}}">{{item3}}</a>
            <a class="dropdown-item" routerLink="/compare/{{fac_actual}}/{{comp4}}">{{item4}}</a>
            <a class="dropdown-item" routerLink="/compare/{{fac_actual}}/{{comp5}}">{{item5}}</a>
        </div>
    </div>
</div>
