<div class="page">
    <app-menu *ngIf="!compare"  [routerI01]="'/educacion'" [routerI02]="'/edu_i02'" [routerI03]="'/edu_i03'"
        [routerI04]="'/edu_i04'" [routerI05]="'/edu_i05'" [routerI06]="'/edu_i06'" [routerF01]="'/edu_f01'"
        [routerF02]="'/edu_f02'" [routerF03]="'/edu_f03'" [routerC01]="'/edu_c01'" [routerC02]="'/edu_c02'"
        [routerC021]="'/edu_c021'" [routerPB03]="'/edu_pb03'" [item1]="'Ciencias Agropecuarias'" [item2]="'Ciencias Economicas y Administrativas'"
        [item3]="'Ciencias Basicas'" [item4]="'Derecho y Ciencias Sociales'" [item5]="'Estudios a Distancia'"
        [comp1]="'app-agropecuarias'" [comp2]="'app-economicas'" [comp3]="'app-ciencias'" [comp4]="'app-derecho'" [comp5]="'app-distancia'"
        [fac_actual]="'app-educacion'">
    </app-menu>
    <div class="container mt-4">
        <div class="row">
            <h1>Facultad de Educación</h1>
        </div>
        <div class="row">
            <h3>I01. Numero de proyectos de investigación según financiación</h3>
        </div>
        <div class="container" *ngIf="!preload">
            <div class="row" >
                    <div class="col col-lg-6 col-md-12 col-sm-12" *ngIf="!compare">
                            <app-ghap1 anio2014={{anio2014}} anio2015={{anio2015}} anio2016={{anio2016}} anio2017={{anio2017}}
                            anio2018={{anio2018}}></app-ghap1>
                    </div>
                    <div class="col col-lg-6 col-md-12 col-sm-12">
                            <table class="table table-striped table-bordered">
                                 <thead class="thead-dark">
                                        <tr>
                                            <th>Año</th>
                                            <th>Capital Semilla</th>
                                            <th>Contrapartida</th>
                                            <th>Sin financiacion</th>
                                            <th>Total Proyectos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2014</td>
                                            <td>{{semilla2014}}</td>
                                            <td>{{contra2014}}</td>
                                            <td>{{sinfin2014}}</td>
                                            <td>{{anio2014}}</td>
                                        </tr>
                                        <tr>
                                            <td>2015</td>
                                            <td>{{semilla2015}}</td>
                                            <td>{{contra2015}}</td>
                                            <td>{{sinfin2015}}</td>
                                            <td>{{anio2015}}</td>
                                        </tr>
                                        <tr>
                                            <td>2016</td>
                                            <td>{{semilla2016}}</td>
                                            <td>{{contra2016}}</td>
                                            <td>{{sinfin2016}}</td>
                                            <td>{{anio2016}}</td>
                                        </tr>
                                        <tr>
                                            <td>2017</td>
                                            <td>{{semilla2017}}</td>
                                            <td>{{contra2017}}</td>
                                            <td>{{sinfin2017}}</td>
                                            <td>{{anio2017}}</td>
                                        </tr>
                                        <tr>
                                            <td>2018</td>
                                            <td>{{semilla2018}}</td>
                                            <td>{{contra2018}}</td>
                                            <td>{{sinfin2018}}</td>
                                            <td>{{anio2018}}</td>
                                        </tr>
                                        <tr>
                                            <td>Total</td>
                                            <td>{{semilla2014+semilla2015+semilla2016+semilla2017+semilla2018}}</td>
                                            <td>{{contra2014+contra2015+contra2016+contra2017+contra2018}}</td>
                                            <td>{{sinfin2014+sinfin2015+sinfin2016+sinfin2017+sinfin2018}}</td>
                                            <td>{{anio2014+anio2015+anio2016+anio2017+anio2018}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                    </div>
            </div>
                    <!-- <div id="lineChart" style="width: 100%; height: 600px;"> </div>
                    -->
                <div class="row"> 
                    <div class="col" *ngIf="!compare">     
                <app-ghap2 semilla2014={{semilla2014}} semilla2015={{semilla2015}} semilla2016={{semilla2016}}
                 semilla2017={{semilla2017}} semilla2018={{semilla2018}} contra2014={{contra2014}}
                 contra2015={{contra2015}} contra2016={{contra2016}} contra2017={{contra2017}}
                 contra2018={{contra2018}} sinfin2014={{sinfin2014}} sinfin2015={{sinfin2015}}
                 sinfin2016={{sinfin2016}} sinfin2017={{sinfin2017}} sinfin2018={{sinfin2018}}></app-ghap2>            
                    </div>
                    <div class="col" *ngIf="compare">
                        <app-ghap1 anio2014={{anio2014}} anio2015={{anio2015}} anio2016={{anio2016}} anio2017={{anio2017}}
                        anio2018={{anio2018}}></app-ghap1>
                    </div> 
                </div>
            </div>
    </div>

</div>
