<div class="page">
    <app-menu *ngIf="!compare"  [routerI01]="'/economicas'" [routerI02]="'/eco_i02'" [routerI03]="'/eco_i03'"
    [routerI04]="'/eco_i04'" [routerI05]="'/eco_i05'" [routerI06]="'/eco_i06'" [routerF01]="'/eco_f01'"
    [routerF02]="'/eco_f02'" [routerF03]="'/eco_f03'" [routerC01]="'/eco_c01'" [routerC02]="'/eco_c02'"
    [item1]="'Ciencias Agropecuarias'" [item2]="'Ciencias Básicas'"
    [item3]="'Ciencias de la educación'" [item4]="'Derecho y Ciencias Sociales'" [item5]="'Estudios a Distancia'"
    [comp1]="'app-agropecuarias'" [comp2]="'app-ciencias'" [comp3]="'app-educacion'" [comp4]="'app-derecho'" [comp5]="'app-distancia'"
    [fac_actual]="'app-fac-eco-f01'">
    </app-menu>
    <div class="col-md-12 mt-4">
        <div class="container">
            <div class="row"><h1>Facultad de ciencias Economicas y Administrativas</h1></div>
            <div class="row"> <h3>F02. Jóvenes Investigadores Colciencias</h3> </div>
            <div class="row justify-content-center m-4"> <img src="assets/error.png" alt="..."> </div>
            <div class="row"><h3>Sin registros para esta facultad</h3></div>
        </div>
    </div>
</div>

