
    <nav class="navbar navbar-expand-lg navbar-light bg-light pt-2">
      <div class=" container">
          <a class="navbar-brand pull-left" routerLink="/">
              <img src="assets/logo_ociteb.png" alt="Ociteb logo" style="height: 20%; width: 50%;">
          </a>

          <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                      <li class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                              style="background-color: #f8f9fa;color: #000;">
                              Facultades
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" routerLink="/agropecuarias">Facultad de ciencias Agropecuarias</a>
                              <a class="dropdown-item" routerLink="/educacion">Facultad de ciencias de la Educación</a>
                              <a class="dropdown-item" routerLink="/economicas">Facultad de ciencias Economicas y administrativas</a>
                              <a class="dropdown-item" routerLink="/ciencias">Facultad de Ciencias</a>
                              <a class="dropdown-item" routerLink="/derecho">Facultad de Derecho y ciencias Sociales</a>
                              <a class="dropdown-item" routerLink="/distancia">Facultad de Estudios a Distancia</a>
                          </div>
                      </li>
                      <li class="dropdown ml-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="background-color: #f8f9fa;color: #000;">
                            Seccionales
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" routerLink="/chiquinquira">Seccional Chiquinquira</a>
                            <a class="dropdown-item" routerLink="/duitama">Seccional Duitama</a>
                            <a class="dropdown-item" routerLink="/sogamoso">Seccional Sogamoso</a>
                        </div>
                    </li>
                  </ul>
              </div>
      </div>
      <button  type="button" class="btn btn-outline-dark" routerLink="/">
              <img src="assets/home.png" alt="">   
      </button>
  </nav>
