<div class="row ">
    <div class="col-sm-6 justify-content-center">
        <div class="card" style="width: 18rem;" routerLink="/menu_fac">
            <img class="card-img-top" src="assets/mortarboard.png" alt="Card image cap">
            <div class="card-body text-center h4">
              <p class="card-text">Facultades</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card" style="width: 18rem;" routerLink="/menu_sec">
            <img class="card-img-top" src="assets/faculty.png" alt="Card image cap">
            <div class="card-body text-center h4">
              <p class="card-text">
                  Seccionales
              </p>
            </div>
          </div>
    </div>
  </div>
